{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<!-- Esse é o conteudo base das paginas que vai ser herdado pelas outras paginas com extends. -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Space</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>

<body>
    {% include 'galeria/partials/_menu.html' %}
    <!-- Esse espaço vai ser preenchido com o conteudo das outras paginas html. -->
    {% block content %}{%endblock%}
    <!-- Inclui o footer de partials -->
    {% include 'galeria/partials/_footer.html' %}
</body>
</html>